@import 'foundation/utilities';
@import 'foundation/colors';
@import 'foundation/animation';
@import 'foundation/spacing';
@import 'foundation/border-radius';
@import 'foundation/borders';
@import 'foundation/typography';
@import 'foundation/max-width';
@import 'foundation/forms';
